.App {
  @apply flex flex-col w-full h-full min-h-screen bg-gray-200;

  nav {
    @apply flex;
  }
}

.card {
  @apply px-4 pt-8 pb-4 bg-white shadow;
}

@media not print {
  .form-checkbox::-ms-check {
    border-width: 1px;
    color: transparent;
    background: inherit;
    border-color: inherit;
    border-radius: inherit;
  }
}